@font-face {
    font-family: "AMDRTG";
    src: url(../fonts/AMDRTG.ttf) format("truetype");
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

body {
    background-color: rgba(242, 242, 242, 1) !important;
}

th, td {
    font-family: 'Open Sans';
    text-align: center !important;
}

th {
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

td {
    border: 1px solid black !important;
}

tbody {
    background-color: rgba(255, 255, 255, 1) !important;
}

.content-container {
    width: 90%;
    margin: auto;
}

h1 {
    font-family: 'AMDRTG' !important;
    font-weight: bold !important;
    font-style: normal;
    font-size: 32px !important;
    text-align: left;
    margin-left: 3%;
}

hr {
    height: 5px !important;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(222, 222, 222, 1);
    background-color: rgba(222, 222, 222, 1);
    border: none !important;
}

.chart-container {
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
}

#summary-chart-container {
    width: 600px;
    height: 500px;
}

#compare-chart-container {
    width: 900px;
    height: 500px;
    padding: 20px;
}

.logo {
    display: block;
    text-align: center;
    font-family: 'AMDRTG';
    font-size: 96px;
    user-select: none;
    color: rgba(86, 86, 90, 1);
    margin-bottom: 30px;
}

.logo:hover {
    color: rgba(86, 86, 90, 1);
    text-decoration: none;
}

.passedStatus {
    background-color: rgba(211, 255, 228, 1);
}

.failureStatus {
    background: repeating-linear-gradient( 45deg, rgba(232, 103, 85, 1.0), rgba(232, 103, 85, 0.8) 20px, rgba(232, 120, 90, 0.8) 20px, rgba(232, 120, 90, 1.0) 40px );
}

.errorStatus {
    background-color: rgba(232, 103, 85, 1);
}

.skippedStatus {
    background-color: rgba(255, 250, 205, 1);
}

#footer{
  text-align: center;
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 1vh;
  padding-top: 2vh;
  font-family: "Open Sans";
  font-weight: bold;
}